{% extends "base.html" %}
{% block title %}Business Events | The Swap Club{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/business.css') }}"/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
{% endblock %}

{% block content %}

<!-- ───────── HERO SECTION ───────── -->
<section class="hero-section">

  <div class="hero-image">

    <div class="hero-text">

      <h1 class="hero-headline">
        Lets bring people together<br>
        by swapping.
      </h1>

      <p class="hero-tagline">
        We partner with organizations, brands, and communities
        to promote sustainable style through events, unique collaborations,
        and shared products.<br>
        Interested in joining the movement? Start here.
      </p>

      <div class="hero-btns">
        <a href="#contact-section" class="btn btn-lime">
          Contact Us
        </a>
        <a href="#cards-section" class="btn btn-outline-light">
          Learn More
        </a>
      </div>

    </div>

  </div>

</section>

<!-- ───────── CARDS SECTION ───────── -->
<div class="points-grid">

  <article class="point-card">
    <div class="point-token">
      <i class="fa-solid fa-lightbulb"></i>
    </div>
    <h3 class="point-title">Your Vision</h3>
    <p class="point-desc">
      You have an idea to collaborate, host an event, or integrate our circular fashion model with your organization.
    </p>
  </article>


  <article class="point-card">
    <div class="point-token">
      <i class="fa-solid fa-envelope"></i>
    </div>
    <h3 class="point-title">Contact Us</h3>
    <p class="point-desc">
      Share your vision with us. We'll explore how our community and expertise can align with your goals.
    </p>
  </article>


  <article class="point-card">
    <div class="point-token">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
    </div>
    <h3 class="point-title">The Exchange</h3>
    <p class="point-desc">
      We execute the project, ensuring a seamless, sustainable, and impactful collaboration for your audience.
    </p>
  </article>

</div>


<!-- ───────── PARTNERS SECTION ───────── -->
<section class="partners-section">
  <h2 class="section-heading">Our Partners</h2>
  <div id="image-slider-business" class="splide">

  <div class="splide__track">

    <ul class="splide__list">

      <li class="splide__slide">
        <a href="https://eu.patagonia.com/nl/en/home/" target="_blank">
        <img
          src="{{ url_for('static', filename='logos/logo.02.png') }}"
          alt="Partner logo 02"
        >
        </a>
      </li>

      <li class="splide__slide">
         <a href="https://livezoku.com/amsterdam/?gad_source=1&gad_campaignid=20835907877" target="_blank">
        <img
          src="{{ url_for('static', filename='logos/logo01.png') }}"
          alt="Partner logo 01"
        >
         </a>
      </li>

      <li class="splide__slide">
         <a href="https://mudjeans.com/nl/pages/mud-jeans-amsterdam-brand-store?srsltid=AfmBOopBdhMjXO_My51dl-2_hIyxiJMbm0zt8p4pKSu0Nul7WL3EJnud" "target="_blank">
        <img
          src="{{ url_for('static', filename='logos/logo03.png') }}"
          alt="Partner logo 03"
        >
         </a>
      </li>

      <li class="splide__slide">
          <a href="https://cosh.eco/nl" target="_blank">
        <img
          src="{{ url_for('static', filename='logos/logo04.png') }}"
          alt="Partner logo 04"
        >
          </a>
      </li>

      <li class="splide__slide">
          <a href="https://www.avanihotels.com/en/museum-quarter-amsterdam?campid=8435708&utm_campaign=nh_hotel&utm_source=google&utm_medium=cpc&utm_id=22254186434&utm_source_platform=sa360&gclsrc=aw.ds&gad_source=1&gad_campaignid=22254186434&gbraid=0AAAAAD5GqPCYRehklqtoGgcsAE9Z0zKxP&gclid=CjwKCAjwidXQBhAZEiwA4egw6Fvd38PLFa9Nz1SVn09YrSCA5eegr0xahFw7dsOmlddOR_g3oCpRKRoCoiIQAvD_BwE" "target="_blank"> 
        <img
          src="{{ url_for('static', filename='logos/logo05.png') }}"
          alt="Partner logo 05"
        >
          </a> 
      </li>

      <li class="splide__slide">
        <a href="https://www.thejuly.com/properties/amsterdam-south" "target="_blank"> 
        <img
          src="{{ url_for('static', filename='logos/logo06.png') }}"
          alt="Partner logo 06"
        >
        </a>
      </li>

      <li class="splide__slide">
        <a href="https://www.nemosciencemuseum.nl/en?gad_source=1&gad_campaignid=15825144619&gbraid=0AAAAADobonNy_8VdeSzWQkDykW3CbUSTX&gclid=CjwKCAjwidXQBhAZEiwA4egw6KbM0J_JhSAUt5OY-yXFKGM1RkVN_cZkjAz56kGtJ2eqQfK76VEuLhoClNQQAvD_BwE" target="_blank"> 
        <img
          src="{{ url_for('static', filename='logos/logo07.png') }}"
          alt="Partner logo 07"
        >
        </a>
      </li>

      <li class="splide__slide">
        <a href="https://oba.nl/nl" target="_blank"> 
        <img
          src="{{ url_for('static', filename='logos/logo08.png') }}"
          alt="Partner logo 08"
        >
        </a>
      </li>

      <li class="splide__slide">
        <a href="https://www.junkamsterdam.com/" target="_blank"> 
        <img
          src="{{ url_for('static', filename='logos/logo09.png') }}"
          alt="Partner logo 09"
        >
        </a>
      </li>

      <li class="splide__slide">
        <a href="https://hotelcasa.nl/nl" target="_blank"> 
        <img
          src="{{ url_for('static', filename='logos/logo10.png') }}"
          alt="Partner logo 10"
        >
        </a>
      </li>

      <li class="splide__slide">
        <a href="https://equals.nl/" target="_blank"> 
        <img
          src="{{ url_for('static', filename='logos/logo11.png') }}"
          alt="Partner logo 11"
        >
        </a>
      </li>

      <li class="splide__slide">
        <a href="https://deceuvel.nl/nl/" target="_blank"> 
        <img
          src="{{ url_for('static', filename='logos/logo12.png') }}"
          alt="Partner logo 12"
        >
        </a>
      </li>

    </ul>

  </div>

</div>
</div>

</section>

<!-- ───────── CONTACT SECTION ───────── -->
<div id="contact-section" class="contact-container">

  <h2>Contact Us</h2>

  <form action="mailto:info@theswapclub.nl"
        method="post"
        enctype="text/plain">

    <!-- First Name -->
    <label for="firstname">First Name</label>

    <input 
      type="text"
      id="firstname"
      name="firstname"
      placeholder="Enter your first name"
    >


    <!-- Last Name -->
    <label for="lastname">Last Name</label>

    <input 
      type="text"
      id="lastname"
      name="lastname"
      placeholder="Enter your last name"
    >


    <!-- Email -->
    <label for="email">Email Address</label>

    <input 
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
    >


    <!-- Message -->
    <label for="message">Message</label>

    <textarea 
      id="message"
      name="message"
      placeholder="Write your message here..."
    ></textarea>


    <!-- Submit Button -->
    <input type="submit" value="Submit">

  </form>

</div>

<!-- ───────── SPLIDE JS ───────── -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Splide('#image-slider-business', {
      type: 'loop',
      perPage: 3,
      gap: '10px',
      arrows: false,
      pagination: false,
      autoScroll: {
        speed: 2.5,
      },
    }).mount({ AutoScroll: window.splide.Extensions.AutoScroll });;
  });
</script>
{% endblock %}
